.navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 3px solid red;
  border-bottom: 1px solid lightgrey;
  background-color: white;
  padding: 20px;
  font-family: sans-serif;
}

.navbar-empty{
  display: none;
  background-color: blue;
}

.navbar h1{
  color: darkred;
  font-size: large;
  font-family: cursive;
}

.navbar input{
  box-sizing: content-box;
  width: 50px;
  padding: 5px 10px;
  border-radius: 5px;
  border: 0;

  cursor: pointer;
  font-size: 12px;
  font-weight: bold;

  color: white;
  background-color: #91a6c7;
}
