.navbar{
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */

  border-top: 3px solid red;
  border-bottom: 1px solid lightgrey;
  background-color: white;
  padding: 20px 0;

  font-family: sans-serif;
}

.navbar section{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 10%;
  margin-right: 10%;
  padding: 0 37px;
}

.navbar-empty{
  display: none;
  background-color: blue;
}

.navbar section h1{
  color: darkred;
  font-size: large;
  font-family: cursive;
}

.navbar section input{
  box-sizing: content-box;
  width: 50px;
  padding: 5px 10px;
  border-radius: 5px;
  border: 0;

  cursor: pointer;
  font-size: 12px;
  font-weight: bold;

  color: white;
  background-color: #91a6c7;
}
