.detail{
  padding: 10px;
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 20px;
  font-family: 'Lato', sans-serif;
  list-style: none;

  border-bottom: 1px solid lightgrey;
}

.detail h3{
  font-size: 25px;
  font-weight: bold;

  color: rgba(255,82,82,0.87);
}

.detail h4{
  font-weight: bold;

  color: rgba(255,82,82,0.87);
}

.detail article{
  margin-top: 5px;
  overflow: hidden;
  padding: inherit;

  white-space: pre-wrap;

}

.detail ul{
  display: flex;
  flex-direction: column-reverse;
  overflow: auto;
}

.comment-inline-buttons{
  display: inline-block;
  margin-left: 10px;
}

.comment-buttons{
  display: flex;
  // float: left;
  justify-content: space-between;
  margin-right: 10px;
  width: 50px;
  // margin-top: 25px;
}

.comments-container{
  margin-left: 200px;
  border-bottom: 0px;
}

.comment-index{
  font-size: 15px;
}

.answers-container{
  border-bottom: 0px;
  border-top: 1px solid lightgrey;
}

.create-button{
  font-size: 25px;
}
