.quesitons-container ul{
  display: flex;
  flex-direction: column-reverse;
  overflow: auto;
}

.question-index-item{
  // border-top: 1px solid grey;
  padding: 10px;
  margin-left: 20px;
  margin-right: 20px;
  font-family: sans-serif;
  list-style: none;
}

.question-index-item:hover {
  background-color: rgba(226, 226, 226, 0.77);
}

.question-index-item h1{
  font-size: 25px;
  font-weight: bold;
}

.question-index-item h1:hover{
  text-decoration: underline;
}

.question-index-item article{
  margin-top: 5px;
  height: 100px;
  padding: inherit;

  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;

  white-space:pre-wrap;

  overflow: hidden;
}

.question-form-container{
  padding: 10px;
}

.question-form{
  display: flex;
  flex-direction: column;
}

.question-form h3{
  margin-left: 10px;
  color: grey;
}

.question-form input[type="text"]{
  display: block;
  text-indent: 3px;
  margin: 10px;
  padding-top: 10px;
  padding-bottom: 10px;

  font-size: larger;
  border-bottom: 1px solid grey;
}

.question-form textarea{
  margin-left: 10px;
  margin-right: 10px;
  margin: 10px;
  border: 0px;

  font-size: small;
  text-indent: 3px;
}

.form-textarea-edit{
  height: 200px;
}

.question-form-submit{
  display: inline-block;
}

.question-form-submit input[type="submit"]{
  margin-top: 10px;
  margin-right: 10px;
  float: right;

  box-sizing: content-box;
  padding: 5px 15px;
  border: 0px;
  border-radius: 5px;

  cursor: pointer;
  font-size: 12px;
  font-weight: bold;

  color: white;
  background-color: #91a6c7;
}

.quesiton-button-container{
  display: flex;
  float: right;
  justify-content: space-between;
  margin-right: 10px;
  margin-bottom: 20px;
}
