.detail{
  padding: 10px;
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 20px;
  font-family: 'Lato', sans-serif;
  list-style: none;

  border-bottom: 1px solid lightgrey;
}

.detail h3{
  font-size: 25px;
  font-weight: bold;

  color: rgba(255,82,82,0.87);
}

.detail h4{
  font-weight: bold;

  color: rgba(255,82,82,0.87);
}

.detail article{
  margin-top: 5px;
  overflow: hidden;
  padding: inherit;

  white-space: pre-wrap;

}

.detail ul{
  display: flex;
  flex-direction: column-reverse;
  overflow: auto;
}

.comment-inline-buttons{
  display: inline-block;
  margin-left: 10px;
}

.comment-buttons{
  display: flex;
  justify-content: space-between;
  margin-right: 10px;
  width: 50px;
}

.comments-container{
  margin-left: 200px;
  border-bottom: 0px;
}

.comment-index{
  font-size: 15px;
}

.comment-index-item{
  padding: 10px;
  margin-left: 20px;
  margin-right: 20px;
  font-family: 'Roboto', sans-serif;
  list-style: none;
}

.answers-container{
  // border-bottom: 0px;
  // border-top: 1px solid lightgrey;
}

.answer-index-item{
  padding: 10px;
  margin-left: 20px;
  margin-right: 20px;
  font-family: 'Roboto', sans-serif;
  list-style: none;
}

.create-button{
  font-size: 25px;
}

.tag-index ul{
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 10px;
}

.tag-index-item{
  box-sizing: content-box;
  width: fit-content;
  padding: 5px 15px;
  margin: 10px;
  border: 0px;
  border-radius: 5px;

  font-size: 12px;
  font-weight: bold;

  color: white;
  background-color: #91a6c7;
}

.tag-list-form{
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 10px;
}

.tag-item-form{
  padding: 5px 15px;
  margin: 10px;
  border: 1px;
  border-radius: 5px;
}
