.session-form-container{

  width: 100%;
  height: 100vh;

  background: url(http://res.cloudinary.com/diu6roixv/image/upload/q_auto:good:420/f_auto/v1490309024/monet_winter-min_fe087b.jpg);
  background-size: cover;
}

.session-header{
  position: relative;
  top: 5%;

  display: block;
  text-align: center;
}

.session-header h1{
  font-size: 75px;
  color: darkred;
  font-weight: 600;
  font-family: 'Lato', sans-serif;
}

.session-header p{
  font-size: 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  text-shadow: 2px 0 lightgrey, 0 2px lightgrey, 2px 0 lightgrey, 0 -2px lightgrey;
}

.session-form{
  position: relative;
  top: 5%;

  display: block;
  text-align: center;
  margin: auto;
  padding: 10px;

  border: 1px solid darkgrey;
  border-radius: 15px;
  background-color: white;
  opacity: 0.93;

  font-family: 'Lato', sans-serif;
  font-size: 20px;

  width: 500px;
  overflow: auto;
}

.session-form a{
  text-decoration: underline;
  color: blue;
}

.session-form h3{
  display: inline-block;
  float: left;
  width: 40%;
  align-self: center;
  text-align: left;
  font-weight: bold;
}

.session-form form{
  display: flex;
  flex-direction: column;
  // margin: 10%;
  margin-top: 10%;
  margin-bottom: 10%;
}

::-webkit-input-placeholder {
  color: grey;
}

.session-form-input{
  margin: 10px;
  width: 40%;
  height: 30px;

  text-align: left;
  text-indent: 5px;
  font-size: 15px;
  background-color: #e2e2e2;
  border: 0px;
}

.section-form-submit-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 40%;
  margin: auto;
}

.section-form-submit-button input{
  margin-right: 0px;
}

.session-form-error-index {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 40%;
  margin-top: 10px;
  list-style: none;
}

.session-form-error-index li {
  background-color: lightcoral;
  color: white;
  padding: 10px;
  border-radius: 2px;
}
