.content {
  padding: 20px;
  font-family: sans-serif;
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
}

.app {
  width: 100%;
  height: 100%;
}

.subs-container{
  // position: fixed; /* Set the navbar to fixed position */
  // top: 20%;
  // width: 100%;

  border: 1px solid red;
  height: 300px;
}

.quesitons-container{
  overflow: auto;
}

.button-container{
  display: flex;
  float: right;
  justify-content: space-between;
  margin-right: 10px;
  width: 5%;
  margin-top: 25px;
  // margin-bottom: 20px;
}

input[type="submit"]{
  margin-top: 10px;
  margin-right: 10px;
  float: right;

  box-sizing: content-box;
  padding: 5px 15px;
  border: 0px;
  border-radius: 5px;

  cursor: pointer;
  font-size: 12px;
  font-weight: bold;

  color: white;
  background-color: #91a6c7;
}

.index-item{
  padding: 10px;
  margin-left: 20px;
  margin-right: 20px;
  font-family: times;
  list-style: none;
}

.index-item:hover {
  background-color: rgba(226, 226, 226, 0.77);
}

.index-item h1{
  font-size: 25px;
  font-weight: bold;
}

.index-item h1:hover{
  text-decoration: underline;
}

.index-item article{
  margin-top: 5px;
  height: 100px;
  padding: inherit;

  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;

  white-space:pre-wrap;

  overflow: hidden;
}

.form-container{
  padding: 10px;
}

.form{
  display: flex;
  flex-direction: column;
}

.form h3{
  margin-left: 10px;
  color: grey;
}

.form input[type="text"]{
  display: block;
  text-indent: 3px;
  margin: 10px;
  padding-top: 10px;
  padding-bottom: 10px;

  font-size: larger;
  border-bottom: 1px solid grey;
}

.form textarea{
  margin-left: 10px;
  margin-right: 10px;
  margin: 10px;
  border: 0px;
  height: 120px;

  font-size: small;
  text-indent: 3px;
}
