@import url('https://fonts.googleapis.com/css?family=Lato|Roboto');

.content {
  padding: 20px;
  font-family: sans-serif;
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
}

.app {
  width: 100%;
  height: 100%;
}

.empty-sidebar{
  height: 300px;
}

.subs-container{
  position: fixed; /* Set the navbar to fixed position */
  top: 95px;
  width: 15%;
  font-family: 'Roboto', sans-serif;
  height: 300px;

  padding: 10px;
}

.subs-container section{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid lightgrey;
  padding-bottom: 5px;
}

.subs-container .edit-feed:hover{
  cursor: pointer;
}

.subs-container ul{
  list-style: none;
  font-family: inherit;

  padding: 10px;
}

.subs-container ul li{
  padding: 5px;
}

.subs-container ul li:hover{
  // background-color: lightgrey;

  cursor: pointer;
  color: rgba(255,82,82,0.87);
}

.quesitons-container{
  overflow: auto;
}

.button-container{
  display: flex;
  float: right;
  justify-content: space-between;
  margin-right: 10px;
  width: 50px;
  margin-top: 18px;
  font-size: 20px;
  // margin-bottom: 20px;
}

.button-container:hover{
  cursor: pointer;
}

input[type="submit"]{
  margin-top: 10px;
  margin-right: 10px;
  float: right;

  box-sizing: content-box;
  padding: 5px 15px;
  border: 0px;
  border-radius: 5px;

  cursor: pointer;
  font-size: 12px;
  font-weight: bold;

  color: white;
  background-color: #91a6c7;
}

.index-item{
  padding: 10px;
  margin-left: 20px;
  margin-right: 20px;
  font-family: 'Roboto', sans-serif;
  list-style: none;
}

.index-item:hover {
  background-color: rgba(226, 226, 226, 0.77);
}

.index-item h1{
  font-size: 25px;
  font-weight: bold;
  color: rgba(255,82,82,0.87);
  cursor: pointer;
}

.index-item h1:hover{
  text-decoration: underline;
}

.index-item img{
  width: 25px;
  border-radius: 10px;
}

.index-item article{
  margin-top: 5px;
  max-height: 105px;
  padding: inherit;

  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;

  white-space:pre-wrap;

  overflow: hidden;
}

.form-container{
  padding: 10px;
  height: 100%;
}

.form{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.form h3{
  margin-left: 10px;
  color: grey;
}

.form input[type="text"]{
  display: block;
  text-indent: 3px;
  margin: 10px;
  padding-top: 10px;
  padding-bottom: 10px;

  font-size: larger;
  border-bottom: 1px solid grey;
}

.form textarea{
  margin-left: 10px;
  margin-right: 10px;
  margin: 10px;
  border: 0px;
  height: 80%;

  font-size: small;
  text-indent: 3px;
}

.search-results-container{
  width: 100%;
}
