@media screen and (max-width: 900px) {
  .navbar section{
    flex-direction: column;
  }

  .navbar section form{
    // display: none;
    width: 300px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .navbar section form input[type="text"]{
    width: 66%;
  }

  .content{
    margin-top: 15%;
  }

  .subs-container{
    margin-top: 6%;
  }
}
